name: Ansible

on:
  workflow_dispatch
  
env:
   AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
   AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
   AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

jobs:
  setup-environment:
   runs-on: ubuntu-latest
   steps:
   - uses: actions/checkout@v2
   - run: ansible-playbook ambiente/create-vpc.yml --extra-vars 'ansible_python_interpreter=/usr/bin/python3'
   - run: ansible-playbook ambiente/create-keys.yml --extra-vars 'ansible_python_interpreter=/usr/bin/python3'
   - run: ansible-playbook ambiente/provision-ec2.yml --extra-vars 'ansible_python_interpreter=/usr/bin/python3'
   - run: ansible-playbook ambiente/setup-nginx.yml --inventory ambiente/config/inventory.aws_ec2.yml --extra-vars 'ansible_python_interpreter=/usr/bin/python3'

