name: pipeline app

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm --prefix frontend install
      - run: npm --prefix frontend run build
      - run: cd frontend && npx next export
      - uses: actions/upload-artifact@v2
        with:
          name: deploy
          path: frontend/out

  deploy:
    runs-on: ubuntu-latest
    needs: build
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      AWS_EC2_METADATA_DISABLED: true
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: deploy
          path: frontend/out
      - run: aws s3 cp frontend/out s3://devops-cyo --recursive --acl public-read
